name: Docker Build CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
       echo "${{ secrets.DOCKERPASS }}" | docker login -u "${{ secrets.DOCKERUSER }}" --password-stdin
       docker pull --platform linux/arm64 anasty17/mltb:latest
       docker tag anasty17/mltb:latest monauserbot/mltb:latest
       docker push monauserbot/mltb:latest
