name: Docker Build CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
       echo "${{ secrets.DOCKERPASS }}" | docker login -u "${{ secrets.DOCKERUSER }}" --password-stdin
       docker pull anasty17/mltb:heroku
       docker tag anasty17/mltb:heroku monauserbot/mltb:heroku
       docker push monauserbot/heroku:heroku
